.home {
  padding: 10px;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 50px 30px;
}

.title-intro-home {
  font-family: var(--title-font);
  font-size: 1.6rem;
}

.text-intro-home {
  font-size: 1.1rem;
}

.events-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .events-home {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .title-intro-home {
    font-size: 2.5rem;
  }
}
